<h1>Products</h1>

<table class="ui celled striped selectable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Price</th>
      <th>Date</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody id="products_container">
    <%= render partial: 'product', collection: @products %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "ui green button" %>
<%= link_to 'New Product AJAX Modal', new_product_path, remote: true, class: "ui black button" %>
